<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Todo list</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <link rel="stylesheet" href="../public/css/interface.css">
</head>

<body>

  <div class="row">
  <div class="col-lg-10">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="What needs to be done?">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Add</button>
      </span>
    </div>
  </div>
</div>


</body>
</html>
